/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #E4E9F7;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #253047;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #253047;
  justify-content: space-between;
}
.div_user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.div_user span{
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.div_user img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}
/* user profile  */
.user_login_profile{
  width: 290px;
  height: 280px;
  background-color: #ffff;
  color: #fff;
  position: absolute;
  top: 62px;
  right: 3px;
  text-align: center;
  cursor: pointer;
  display: none;
  box-shadow: 0px 0px 12px 8px rgba(67,099,99,0.71);
}
.user_profile{
 background-color: #21232d;
 padding: 20px 30px;
 
}
.user_profile img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;

}
.user_profile h2{
  font-size: 16px;
  margin: 0px;
}
.user_profile p{
  font-size: 14px;
  margin-top: 10px;
}
.user_profile h2{
  font-size: 16px;
  margin: 0px;
}
.user_profile p{
  font-size: 14px;
  margin-top: 10px;
}

.user_login{
  padding: 20px 6px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.user_login button{
  outline: none;
  border: none;
  background: none;
}
.user_login button i{
  font-size: 13px;
  color: #38ada9;
}

.user_login button a{
  display: block;
  text-decoration: none;
  padding: 10px 9px;
  color: #b2b2b2;
  font-size: 13px;
  font-weight: 600;
  background: none;
  background-color: #eee;
  border: 1px solid #b2b2b2;
  cursor: pointer;
}



.home-section  main{
  padding: 30px 6px;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #fff;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
    background-color: blue;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;

  }
}

/* ---------------cricket match management pages------  */

#cricket_match_management{

}
.cricket_match_mng{
  display: flex;
  justify-content: space-between;
}
.cricket_match_mng h3{
  color: #000;
  padding: 0px 10px;
  
}
.addauto_btn{
  background-color: green;
  padding: 10px 20px;
  margin-top: 50px;
  margin-right: 50px;
  border: none;
  outline: none;
  color: #ffff;
  font-size: 16px;
}
.cricket_mang_content{
  background-color: #ffff;
  margin-top: 15px;
  border-top: 4px solid #dbdbbd;
}
.cricket_mang_content_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
table{
  border-collapse: collapse;
  width: 100%;
  padding: 30px;
}
.cricket_managemnt_table tr td{
  border-bottom: 2px solid black;
  padding: 10px 11px;
}
.cricket_managemnt_table tr td p{
  font-size: 16px;
  color: #000;
}
.cricket_management_table_content tr td{
  padding: 10px;
  /* background-color: #1d1b31; */
  border-bottom: 1px solid #dbdbdb;
}
.cricket_management_table_content tr p{
  color: #2b2b2b;
  font-size: 14px;
}
.cricket_management_table_content .approved{
  font-size: 13px;
  color: #000;
  font-weight: 400;
}
.cricket_management_table_content .active_btn{
  background-color: green;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}
.cricket_management_table_content .disiable_btn{
  background-color: #E4E9F7;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  color: #000;
}
.cricket_management_table_content .cr_dublebtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cricket_management_table_content .cr_btn i{
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin: 2px;
  font-size: 10px;
  background-color: red;
}

.cricket_management_table_content .cricket_btn_match{
  text-align: center;
}
.cricket_btn_match .red_pen i{
  background-color: skyblue;
}
.cricket_btn_match .deleet_icon i{
  background-color: crimson;
}
.cricket_btn_match .eye_icon i{
  background-color: skyblue;
}

.cricket_mng_footer{
  background-color: #fff;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cricket_mng_footer button{
  padding: 10px;
}


/* ------------------team cricket from ----------------- */
.cricket_team_content{
  background-color: #ffff;
}
.cricket_team_content .team_submit_frorm{
  text-align: center;
  align-items: center;
  padding: 20px 0;
}
.cricket_team_content .team_submit_frorm button{
  padding: 10px 24px;
  background-color: skyblue;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}
.team_form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 3px solid green;
  margin-top: 20px;
}
.team1{
  width: 900px;
  padding: 20px 40px;
}
.team1 h3{
  background-color: #eee;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
}
.team1 .team_logo{
  display: inline;
  padding: 20px 10px;
}
.team1 div{
  display: flex;
  flex-direction: column;

}
.team1 div label{
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  padding-left: 10px;
}
.team1 div input{
  width: 100%;
  height: 40px;
  padding: 10px 20px;
}


/* select team  pages  */
#select_team{
  padding: 20px 30px;
  border-top: 3px solid green;
}
.select_team_content h3{
  padding: 20px 10px;
}
.team_select_head1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
}
.team_select_select select{
  width: 300px;
  height: 40px;
  margin-right: 100px;
  font-size: 18px;
  padding: 0 10px;
}
.team_select_head1 .team_select_btn button{
  padding: 10px 24px;
  border: none;
  outline: none;
  margin-right: 10px;
  color: #fff;
}
.team_select_head1 .team_select_btn button:nth-child(1){
  background-color: skyblue;
}
.team_select_head1 .team_select_btn button:nth-child(2){
  background-color: burlywood;
  margin: 0px 80px;
}
.team_select_head1 .team_select_btn button:nth-child(3){
  background-color: green;
}
 .team_cheacked{
  text-align: center;
  margin: 30px auto;
  
}
.team_box_section{
  width: 700px;
  height: 90px;
  padding: 10px 20px;
  background-color: #fff;
  text-align: end;
}
.team_box_section button{
  background-color: green;
  padding: 6px 25px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 17px;
  margin: 20px auto;
}
.team_select_head1 .team_cheacked input{
  height: 30px;
  width: 30px;
}
.team_select_table table thead tr td{
  border-bottom: 2px solid black;
  padding: 10px;
}
.team_select_table table tbody tr td{
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.team_select_color{
  background-color: #fff;
}
.team_select_body .team_edit_select{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team_select_body .team_edit_select a i{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.team_select_body .team_edit_select .red_pen{
  background-color: skyblue;
  margin-right: 5px;

}
.team_select_body .team_edit_select .deleet_icon{
 background-color: crimson;
}
